<div class="border border-black w-full h-[800px] mb-[32px] relative bg-black">
    <div class="w-full h-full">
        <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/86ef2ffcb3a74fd8b607829217c35dbe_faec/CHAMARRA_MECANICOS_AUDI_REVOLUT_F1_TEAM_CIERRE_CORTO_Negro_KE8929_HM3_hover.tiff.jpg" alt="Chamarrita" class="opacity-80 w-full h-full object-cover object-[center_15%]">
    </div>

    <div class="absolute rounded-full h-[50px] w-[50px] bg-[#333] top-[50%] left-[50px] flex items-center justify-center opacity-70">
        <img src="./assets/images/arrow.png" alt="Previous" class="rotate-90 h-1/2">
    </div>

    <div class="absolute rounded-full h-[50px] w-[50px] bg-[#333] top-[50%] right-[50px] flex items-center justify-center opacity-70">
        <img src="./assets/images/arrow.png" alt="Next" class="rotate-[-90deg] h-1/2">
    </div>

    <div class="absolute bottom-[148px] left-[148px] text-white">
        <p class="text-md">ADIDAS</p>
        <p class="text-[32px] font-bold">Chamarra mecánicos audi revolut f1 team cierre corto</p>
        <p class="text-lg">Chamarra de edición especial con diseño exclusivo F1 Team Audi. Cierre corto y materiales premium.</p>

        <div class="rounded-full bg-white flex items-center justify-center w-[120px] h-[40px] mt-4 text-md text-black cursor-pointer hover:bg-gray-200 transition-colors duration-300">
            <p>Comprar</p>
        </div>

    </div>
</div>