<div className="w-full h-164 bg-[#222] flex flex-col items-center justify-start p-14 space-y-10">
    
    <!-- {/* Arriba */} -->
    <div className="flex justify-start w-full">
        <!-- {/* Logo con redes */} -->
        <div className="flex flex-col items-start justify-start gap-7 py-12">
        <div className="w-56">
            <Image
            src="/assets/logo/snd-logo.svg"
            alt="Logo"
            width={154}
            height={80}
            />
        </div>

        <div className="w-full h-px bg-[#D4AF37]"></div>

        <div className="flex space-x-8">
            <a href="#" className="text-white hover:text-gray-300">
            <Image
                src="/assets/images/facebook.svg"
                alt="Facebook"
                width={24}
                height={24}
            />
            </a>
            <a href="#" className="text-white hover:text-gray-300">
            <Image
                src="/assets/images/instagram.svg"
                alt="Instagram"
                width={24}
                height={24}
            />
            </a>
            <a href="#" className="text-white hover:text-gray-300">
            <Image
                src="/assets/images/tik-tok.svg"
                alt="TikTok"
                width={24}
                height={24}
            />
            </a>

            <a href="#" className="text-white hover:text-gray-300">
            <Image
                src="/assets/images/gorjeo.svg"
                alt="X"
                width={24}
                height={24}
            />
            </a>
        </div>

        </div>

        <!-- {/* Las columnas */} -->
        <div className="max-w-6xl mx-auto grid grid-cols-4 gap-16 px-8">
        <div className="flex flex-col text-white space-y-5">
            <p className="font-bold">PRODUCTOS</p>
            <ul id="productos" className="flex flex-col space-y-2"></ul>
        </div>

        <div className="flex flex-col text-white space-y-5">
            <p className="font-bold">MARCAS</p>
            <ul id="marcas" className="flex flex-col space-y-2"></ul>
        </div>

        <div className="flex flex-col text-white space-y-5">
            <p className="font-bold">COLORES</p>
            <ul id="colores" className="flex flex-col space-y-2"></ul>
        </div>

        <div className="flex flex-col text-white space-y-5">
            <p className="font-bold">ASISTENCIA</p>
            <ul id="asistencias" className="flex flex-col space-y-2"></ul>
        </div>
        </div>
    </div>
    

    <div className="w-full h-px bg-[#D4AF37]"></div>

    <!-- {/* Copy y metodos pago */} -->
    <div className="flex justify-between items-center w-full h-full">
        <div className="text-white">
        <p id="copy"></p>
        </div>
        <div id="proveedores" className="flex justify-center items-center space-x-2.5"></div>
    </div>
</div>