<div class="w-full h-164 bg-[#222] flex flex-col items-center justify-start p-14 space-y-10">
    
    <!-- {/* Arriba */} -->
    <div class="flex justify-start w-full">
        <!-- {/* Logo con redes */} -->
        <div class="flex flex-col items-start justify-start gap-7 py-12">
        <div class="w-56">
            <img
            src="/assets/logo/snd-logo.svg"
            alt="Logo"
            width={154}
            height={80}
            />
        </div>

        <div class="w-full h-px bg-[#D4AF37]"></div>

        <div class="flex space-x-8">
            <a href="#" class="text-white hover:text-gray-300">
            <img
                src="/assets/images/facebook.svg"
                alt="Facebook"
                width="24"
                height="24"
            />
            </a>
            <a href="#" class="text-white hover:text-gray-300">
            <img
                src="./assets/images/instagram.svg"
                alt="Instagram"
                width="24"
                height="24"
            />
            </a>
            <a href="#" class="text-white hover:text-gray-300">
            <img
                src="./assets/images/tik-tok.svg"
                alt="TikTok"
                width="24"
                height="24"
            />
            </a>

            <a href="#" class="text-white hover:text-gray-300">
            <img
                src="./assets/images/gorjeo.svg"
                alt="X"
                width="24"
                height="24"
            />
            </a>
        </div>

        </div>

        <!-- {/* Las columnas */} -->
        <div class="max-w-6xl mx-auto grid grid-cols-4 gap-16 px-8">
        <div class="flex flex-col text-white space-y-5">
            <p class="font-bold">PRODUCTOS</p>
            <ul id="productos" class="flex flex-col space-y-2"></ul>
        </div>

        <div class="flex flex-col text-white space-y-5">
            <p class="font-bold">MARCAS</p>
            <ul id="marcas" class="flex flex-col space-y-2"></ul>
        </div>

        <div class="flex flex-col text-white space-y-5">
            <p class="font-bold">COLORES</p>
            <ul id="colores" class="flex flex-col space-y-2"></ul>
        </div>

        <div class="flex flex-col text-white space-y-5">
            <p class="font-bold">ASISTENCIA</p>
            <ul id="asistencias" class="flex flex-col space-y-2"></ul>
        </div>
        </div>
    </div>
    

    <div class="w-full h-px bg-[#D4AF37]"></div>

    <!-- {/* Copy y metodos pago */} -->
    <div class="flex justify-between items-center w-full h-full">
        <div class="text-white">
        <p id="copy"></p>
        </div>
        <div id="proveedores" class="flex justify-center items-center space-x-2.5"></div>
    </div>
</div>